
.single-service {
    background-color: #f9f9ff;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .single-service:hover {
    box-shadow: 0px 20px 30px 0px rgba(35, 94, 231, 0.2);
    cursor: pointer;
  }
  
  .single-service:hover h4 {
    color: #5174f9;
  }
  
  .single-service h4 {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .single-service h4 .lnr {
    margin-right: 15px;
  }